{% set accountsHierarchiesDisabled = false %}
{% if book['id'] is defined %}
    {% set bookId = book['id'] %}
    {% set bookName = book['name'] %}
    {% set bookUser = book['user_id'] %}
    {% set bookStatus = book['status'] %}
    {% set bookDescription = book['description'] %}
    {% set bookStartDate = book['fy_start_date'] %}
    {% set bookEndDate = book['fy_end_date'] %}
    {% set bookHierarchy = book['accounts_hierarchy_id'] %}
    {% set accountsHierarchiesDisabled = true %}
{% else %}
    {% set bookId = '' %}
    {% set bookName = '' %}
    {% set bookUser = '' %}
    {% set bookStatus = 'open' %}
    {% set bookDescription = '' %}
    {% set bookStartDate = '' %}
    {% set bookEndDate = '' %}
    {% set bookHierarchy = '' %}
{% endif %}
<form data-validateon="section" id="{{componentId}}-{{sectionId}}-form">
    <fieldset id="{{componentId}}-{{sectionId}}-fieldset">
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'id',
                        'fieldLabel'                     : 'ID',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'ID',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHidden'                    : true,
                        'fieldDisabled'                  : true,
                        'fieldValue'                     : bookId
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'name',
                        'fieldLabel'                     : 'Name',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Name',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : bookName
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'user_id',
                        'fieldLabel'                     : 'User',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'User',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataSelect2Options'        : users,
                        'fieldDataSelect2OptionsKey'     : 'id',
                        'fieldDataSelect2OptionsValue'   : 'name',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': bookUser
                    ]
                )}}
            </div>
            {% if book['id'] is defined %}
                <div class="col">
                    {{adminltetags.useTag('fields',
                        [
                            'component'                      : component,
                            'componentName'                  : componentName,
                            'componentId'                    : componentId,
                            'sectionId'                      : sectionId,
                            'fieldId'                        : 'status',
                            'fieldLabel'                     : 'Status',
                            'fieldType'                      : 'select2',
                            'fieldHelp'                      : true,
                            'fieldHelpTooltipContent'        : 'Status',
                            'fieldRequired'                  : true,
                            'fieldBazScan'                   : true,
                            'fieldBazPostOnCreate'           : true,
                            'fieldBazPostOnUpdate'           : true,
                            'fieldDataSelect2Options'        :
                                [
                                    'open'  :
                                        [
                                            'id'    : 'open',
                                            'name'  : 'OPEN'
                                        ],
                                    'closed'  :
                                        [
                                            'id'    : 'closed',
                                            'name'  : 'CLOSED'
                                        ]
                                ],
                            'fieldDataSelect2OptionsKey'     : 'id',
                            'fieldDataSelect2OptionsValue'   : 'name',
                            'fieldDataSelect2OptionsArray'   : true,
                            'fieldDataSelect2OptionsSelected': bookStatus
                        ]
                    )}}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'description',
                        'fieldLabel'                     : 'Description',
                        'fieldType'                      : 'textarea',
                        'fieldDataMaxLength'             : 4096,
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Description of the book',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMaxLength'        : 1024,
                        'fieldTextareaRows'              : 2,
                        'fieldValue'                     : bookDescription
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'fy_start_date',
                        'fieldLabel'                     : 'Book Start Date',
                        'fieldType'                      : 'flatpickr',
                        'fieldFlatpickrClearButton'      : true,
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Book start date is usually start of financial year. Example: 2023-07-01 (start of financial year in Australia)',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldValue'                     : bookStartDate
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'fy_end_date',
                        'fieldLabel'                     : 'Book End Date',
                        'fieldType'                      : 'flatpickr',
                        'fieldFlatpickrClearButton'      : true,
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Book end date is usually end of financial year. Example: 2024-06-30 (end of financial year in Australia)',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldValue'                     : bookEndDate
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'accounts_hierarchy_id',
                        'fieldLabel'                     : 'Accounts hierarchy',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Accounts hierarchy to use.',
                        'fieldRequired'                  : true,
                        'fieldDisabled'                  : accountsHierarchiesDisabled,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataSelect2Options'        : accountsHierarchies,
                        'fieldDataSelect2OptionsKey'     : 'id',
                        'fieldDataSelect2OptionsValue'   : 'name',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': bookHierarchy
                    ]
                )}}
            </div>
        </div>
    </fieldset>
</form>
<script>
/*global paginatedPNotify BazProgress BazContentFields BazHelpers BazContentLoader Pace BazCore dataCollection Swal */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-id'                    : { },
        '{{componentId}}-{{sectionId}}-name'                  : { },
        '{{componentId}}-{{sectionId}}-user_id'               : {
            placeholder: 'SELECT USER'
        },
        '{{componentId}}-{{sectionId}}-status'                : {
            placeholder: 'SELECT STATUS'
        },
        '{{componentId}}-{{sectionId}}-fy_start_date'         : {
            dateFormat          : "Y-m-d",
            altFormat           : "Y-m-d",
            static              : true,
            onChange: function(selectedDates, dateStr, instance) {
                if (dateStr !== '') {
                    dataCollectionSection['{{componentId}}-{{sectionId}}-fy_end_date']['flatpickr'].config.minDate = dateStr;
                    dataCollectionSection['{{componentId}}-{{sectionId}}-fy_end_date']['flatpickr'].setDate(dateStr);
                }
            },
        },
        '{{componentId}}-{{sectionId}}-fy_end_date'           : {
            dateFormat          : "Y-m-d",
            altFormat           : "Y-m-d",
            static              : true
        },
        '{{componentId}}-{{sectionId}}-description'           : { },
        '{{componentId}}-{{sectionId}}-accounts_hierarchy_id' : {
            placeholder: 'SELECT ACCOUNTS HIERARCHY'
        },
        '{{componentId}}-{{sectionId}}-form' : {
            ignore      : ':submit, :reset, :image, :disabled, .ignore',
            rules: {
                '{{componentId}}-{{sectionId}}-name'                    : 'required',
                '{{componentId}}-{{sectionId}}-user_id'                 : 'required',
                '{{componentId}}-{{sectionId}}-accounts_hierarchy_id'   : 'required'
            },
            messages: {
                '{{componentId}}-{{sectionId}}-name'                    : 'Please enter name',
                '{{componentId}}-{{sectionId}}-user_id'                 : 'Please select user',
                '{{componentId}}-{{sectionId}}-accounts_hierarchy_id'   : 'Please select accounts hierarchy'
            }
        }
});
</script>